#page-search {
    height: 100vh;
    width: 100vw;
}

#page-search .content {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: white;
}

#page-search .content header nav {
    background-color: var(--primary-color);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#page-search .content header nav ul {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 60px;
}

#page-search .content header nav ul li {
    margin: 0 20px;
    list-style: none;
}

#page-search .content header nav ul li.align-left {
    margin-right: auto;
}

#page-search .content header nav ul li img {
    width: 70%;
    height: 100px;
    padding: 5px;
}

#page-search .content header nav ul li a {
    color: white;
    font-size: 24px;
    transition: 400ms;
}

#page-search .content header nav ul li a:hover {
    color: var(--violet);
    font-size: 24px;
}

#page-search main .content form {
    background-color: white;
    padding: 30px;
}

#page-search .content .search-bar {
    flex: 1;
    width: 100%;
    max-width: 1100px;
}

#page-search .content .search-bar input[type=search] {
    border-radius: 8px 0 0 8px;
    width: 30%;
}

#page-search .content .search-bar input[type=number] {
    width: 15%;
    border-radius: 0;
}

#page-search .content .search-bar input[type=submit] {
    width: 20%;
    height: 56px;
    background-color: var(--primary-color);
    border-radius: 0 8px 8px 0;
    color: white;
    font-weight: bold;
    font-size: 16px;
    transition: 400ms;
    cursor: pointer;
}

#page-search .content .search-bar input[type=submit]:hover {
    background-color: var(--violet);
}

#page-search .content .card-content .description {
    width: 100%;
    height: 130px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#page-search .content .card-content .description p {
    word-wrap: break-word;
}
#page-search main .content form fieldset {
    border: none;
    display: flex;
    justify-content: center;
}

#page-search main .content form input {
    background-color: #f0f0f5;
    border: 0;
    font-size: 16px;
    outline: none;
    border-radius: 8px 0px 0px 8px;
    width: 50%;
    height: 56px;
    padding: 16px;
}

#page-search main .content form fieldset input[class=button] {
    background-color: var(--primary-color);
    border-radius: 0 8px 8px 0;
    color: white;
    width: 20%;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    transition: 400ms;
    cursor: pointer;    
}

#page-search main .content form input[class=button]:hover {
    background-color: var(--violet);
    font-size: 20px;
}

#page-search main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#page-search main .card img {
    width: 100%;
    height: 250px !important; 
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    opacity: 0.6;
    transition: width 400ms;
}

#page-search main .card img:hover {
    opacity: 1;
    transition: 400ms;
}

#page-search main .card {
    background-color: #f5f5f5;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    border-radius: 8px;    
    display: flex;
    flex-direction: column;
}

#page-search main .card .card-body {
    background-color: #f5f5f5;
    align-items: center;
    height: 260px;
    border-radius: 0 0 8px 8px;
}

#page-search main .card .card-body .card-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 260px;
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#page-search main .card .card-body .card-content h1,h4,h3 {
    text-align: center;
    overflow: hidden;
    line-height: 34px;
}

#page-search main .card .card-footer {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 0 0 8px 8px;
}

#page-search main .card .card-footer-center {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 8px 8px;
}


#page-search main .card strong {
    color: var(--violet);
    line-height: 24px;
}

#page-search main .card a {
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: var(--primary-color);
    margin-bottom: 10px;
    cursor: pointer;
    transition: 400ms;
}

#page-search main .card a:hover {
    color: var(--violet);
    font-size: 20px;
}




